<%= link_to("Back to list ", {:action => 'list'}) %>

<%= form_for(:mobilephone, :url => {:action => 'destroy', :id => @mobilephone.id}) do |n|%>
<p>Are you sure you want to delete this permanently?</p>
<%= @mobilephone.modelname %>
<%= submit_tag("Delete Product") %>
<% end %>