<%= link_to("Add New Mobilephone", {:action => 'new'}) %>

<hr />

<div class="span-24 last">
<%  @mobilephone.each do |m| %>
  <div class="span-5 specific-box box">
<%= link_to m.modelname, :action => 'show', :id => m.id %>
<%= link_to("Edit", {:action => 'edit', :id => m.id})  %>
<%= link_to("Delete", {:action => 'delete', :id => m.id})  %>
<%#= m.updated_at %>
</div>
<% end %>
  </div>