#navigation a {
    padding: 0.5em 1em;
    font-size: 1.2em;
    text-decoration: none;
}

#sub-navigation a{
    padding: 0.5em 0.5em;
    font-size: 1.1em;
}

.center {
    vertical-align: middle;
    text-align:center;
}

#alignleft {
    text-align:left;
}

.content-box{
    border-radius:5px; -moz-border-radius: 5px; -webkit-border-radius:5px; -khtml-border-radius:5px;
}

.specific-box{
    border-radius:5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; -khtml-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px;
}

#logo {
	position: absolute;
	width: 233px;
	top: 0;
	left: 0;
}
