<div id="sub-navigation" class=" span-24 last append-bottom">
    <%= link_to "About Us", :action => 'about' %>
    <%= link_to "Contact Us", :action => 'contactus' %>
    <%= link_to "Feedback", :controller => 'supports/new' %>
  </div>

<hr />
<div class="span-24">

 <%= image_tag("at.gif", :size => '120x90') %>
  <p>THE COMPANY<br/>
Apple Telecom is a phone distributor company for LG and Sony Ericsson, as well as a SingTel exclusive retailer. Initially starting the business with only 1 outlet, over the years, we now have 6 outlets located around the heartlands of Singapore.
Our outlets are located at:</p>

SingTel Exclusive Retailer				<br/>
Tiong Bahru			   		<br/>
Tampines One			     <br/>
Lot One Shopping Mall<br/>
<p></p>
LG	<br/>
 Causeway Point	<br/>
 Tampines One<br/>
<p></p>
 Sony Ericsson<br/>
 Tiong Bahru<br/>

<br/>
THE LOGO<p>
The corporate logo of Apple Telecom is a red apple. The red signifies good fortune and joy. Red is also traditionally an auspicious color in Chinese culture and represents happiness or good luck. In short, it hopes to bring luck and prosperity to the business.  The apple is derived from the English idiom “The apple of one’s eye”. The idiom means a cherished person or object. In old English the eye's pupil was known as the apple because it was thought to be spherical and solid. Since the pupil is a crucial and indispensable portion of the eye, it serves as a symbol of something cherished. In other words, the apple symbolizes the importance of the company in the hearts of customers and even employees. Another greater meaning of the Apple’s symbolism depicts rebirth, according to Celtic and Norse mythology. It represents the many setbacks and tribulations the founders of Apple Telecom faced before the “rebirth” and success of this company.
</p>

<p>CORE VALUES<br/>
Our Vision: To be Singapore’s first choice in communication services.<br/>
Our Mission: To be the number one retailer in Singapore for all mobile phone brands.<br/></p>
</div>

<div class="span-24">
  THE PEOPLE<br/>
Employees:<br/>
•	Initiative and Passionate<br/>
•	Innovative and Creative<br/>
•	Helpful and well-mannered<br/>
Leaders:<br/>
•	Encourage and recognize new ideas<br/>
•	Motivate and Inspire<br/>
•	Lead by example<br/>
<p></p>
</div>