<div id="sub-navigation" class=" span-24 last append-bottom">
    <%= link_to "About Us", :action => 'about' %>
    <%= link_to "Contact Us", :action => 'contactus' %>
    <%= link_to "Feedback", :controller => 'supports/new' %>
     <%= link_to "Forum", "http://appletelecom.forumer.com" %>
  </div>

<hr />

<div class="span-10 box last">

<p class="loud">SingTel Exclusive Retailer</p>

Choa Chu Kang Avenue 4<br/>
Lot 1 Shoppers' Mall #B1-30/31<br/>
Singapore 689812<br/>
Weekdays : 10.30am - 9pm<br/>
Weekends : 10.30am - 9pm<br/>
Del: 68772662<br/>

<p></p>
10 Tampines Central 1<br/>
#04-26<br/>
Singapore 529539<br/>
Weekdays: 11am - 9pm<br/>
Weekends: 11am - 9pm<br/>
Del: 6771662<br/>
<p></p>
302 Tiong Bahru Road<br/>
Tiong Bahru Plaza #01-53<br/>
Singapore 168732<br/>
Weekdays : 10.30am to 9pm<br/>
Weekend : 10.30am to 9pm<br/>
Del: 63760127<br/>

  </div>