
<div id="sub-navigation" class=" span-24 last append-bottom">
    <%= link_to "About Us", :action => 'about' %>
    <%= link_to "Contact Us", :action => 'contactus' %>
    <%= link_to "Feedback", :controller => 'supports/new' %>
  </div>

<hr />

